
@use 'variables';

.navbar {
        display: none;
        
        width: 400px ;
        &__items {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        &__link {
            text-decoration: none;
            color: variables.$Dark-grayish-blue;
            display: block;
            height: 112px;
            padding-top: 42px;
            &:hover{
                border-bottom: 4px solid variables.$Orange;
            }
        }
    @media (min-width: 1115px){
        display: block;
    }
}
//.header__logo {
//    padding-left: 25%;
//    width: 200px;
//    height: auto;
//}

.header__logo {
    width: 70px;
    height: auto;
}