@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'gallery';
@use 'details';
@use 'input';
@use 'modal-cart';
@use 'gallery-modal';
@use 'footer';


.main-container {
    width: 375px;
    
    margin: auto;
    position: relative;
    @media (min-width: 1115px){
        //.main-container {
            width: 1115px;
        //}
        
    }
}

.content{
    @media (min-width: 1115px){
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }

}

.show {
    display: block;
}
.cart_empty {
    color: variables.$Black-modal;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}